.dark-background{
    -fx-background-color: #212221;
}
.light-black-background{
    -fx-background-color: #414141;
}
.red-theme{
    -fx-background-color: #FA2742;
}
.dark-red-theme{
    -fx-background-color: #AF0404;
}
-pastel-red-theme{
    -fx-background-color: #ff4f4f;
}
-transparent-theme{
    -fx-background-color: rgba(37, 37, 37, 0);
}
yellowish-theme{
    -fx-background-color: #E8EAE3;
}

